@font-face {
    font-family: Montserrat-100;
    src: url('../fonts/Montserrat-Thin.ttf');
}
@font-face {
    font-family: Montserrat-300;
    src: url('../fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: Montserrat-400;
    src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-500;
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-600;
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Montserrat-700;
    src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: Montserrat-800;
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Montserrat-900;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: noto-1000;
    src: url('../fonts/NotoSansKR-Black.otf');
}


/* ================================================================================================== */
/* ================================================================================================== */

:root{
    --text-color : white;
}



/* ================================================================================================== */
/* ================================================================================================== */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    height: 100%;
}


/* ===== Custom Cursor ==================================== */

.cursor{
    width: 20px;
    height: 20px;
    background:transparent;
    border-radius: 50%;
    border: 2px solid royalblue;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

/* ========================================================== */


/* ========================================================================================================================================== */
/* ========================================================================================================================================== */
#loader{
    width: 100%;
    height: 100%;
    background-color:#4D4D4D;
    position: fixed;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#loader img{
    height: 200px;
    animation: loaderImage linear 1.5s infinite;
}
@keyframes loaderImage {
    0%{
        opacity: 1;
    }
    25%{
        opacity: .6;
    }
    50%{
        opacity: .3;
    }
    75%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

/* ========================================================================================================================================== */
/* ========================================================================================================================================== */

#main{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to left, #434343 0%, rgba(10, 10, 10, 0.95) 100%);
}
.section{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
/* Global change =================================================== */

a{
    text-decoration: none;
    color: var(--text-color);
    opacity: .8;
    font-family: montserrat-600;
}




/* =================================================================== */

/* Home Page */

#home{
    background-image: url('../images/home-overlay-img.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
}
#home img{
    height: 100%;
}
.header{
    width: 100%;
    height: 18%;
    /* background-color: tomato; */
    display: flex;
}

.logo-box{
    width: 20%;
    height: 100%;
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.logo-image{
    padding: 10px;
    height: 90%;
    /* background-color: var(--text-color); */
}
.nav-links-box{
    width: 80%;
    height: 100%;
    /* background-color: rgb(131, 121, 121); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
    padding-right: 50px;
}
.nav-links-box a{
    position: relative;
}
.nav-links-box a .line{
    display: inline-block;
    height: 1.35px;
    position: absolute;
    bottom: -5px;
    /* background-color: var(--text-color); */
}
.nav-links-box a #l1{
    left: 0;
    width: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    transition-delay: 0.2s;
    background-color: var(--text-color);
}
.nav-links-box a #l2{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    background-color: transparent;
}
.nav-links-box a:hover #l1{
    width: 100%;
}
.nav-links-box a:hover #l2{
    width: 0;
}

.nav-links-box .login-btn{
    padding: 10px 50px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.nav-links-box .login-btn::after{
    content: '';
    position: absolute;
    top: -100%;
    left: 0%;
    width: 150%;
    height: 0;
    background-color: lightslategray;
    transform: rotate(45deg) ;
    transform-origin: top;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    z-index: -1;
}
.nav-links-box .login-btn:hover::after{
    height: 400%;
}


#home .content{
    width: 100%;
    height: 82%;
    /* background-color: royalblue; */
    display: flex;
}

.left-data{
    width: 50%;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-left:70px;
}
.strok-elem{
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
}
.left-data h2{
    font-family:noto-1000;
    font-size: 3.8vw;
    text-transform: uppercase;
    /* color: var(--text-color); */
    line-height: 1;
    opacity: .7;
    cursor: text;
}
.left-data h1{
    line-height: 1;
    font-family: Montserrat-700;
    font-size: 3.8vw;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: text;
}
.left-data p{
    color: var(--text-color);
    font-family: Montserrat-500;
    opacity: .7;
    margin: 10px 0;
    cursor: text;
}
.left-data .input-box{
    width:25vw;
    display: flex;
    align-items: center;
    gap: 25px;
}
.left-data input{
    padding:15px 20px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    background-color: transparent;
    margin: 15px 0 5px;
    color: var(--text-color);
    opacity: .5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 4s;
}
.left-data input:hover{
    scale: 1.1;
}
.left-data input::placeholder{
    color: var(--text-color);
}
.left-data .input-circle-btn{
    width: 45px;
    height: 45px;
    background-color: yellow;
    border-radius: 50%;
    border: none;
    margin-top: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.4vw;
    cursor: pointer;
    overflow: hidden;
}
.left-data .input-circle-btn .arrow{
    transform: translateX(-20px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.left-data .input-circle-btn:hover .arrow{
    transform: translateX(20px);
}
.left-data button{
    width: 25%;
    padding: 15px 20px;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    margin: 5px 0 10px;
    border: 2px solid rgba(108, 193, 232, 0.794);
    color: rgba(108, 193, 232, 0.658);
    font-weight: bold;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}




.right-data{
    width: 50%;
    height: 100%;
    /* background-color: rgb(200, 255, 0); */
}
.home-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
}
.home-overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


/* ============= Section 2 ===================== */

#section2{
    height: 45vh;
    background-color: rgb(18, 17, 17);
}
.s2-text-box{
    width: 100%;
    height: 40%;
    /* background-color: var(--text-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.s2-text-box h2{
    font-family: noto-1000;
    font-size: 1vw;
    opacity: .8;
}
.s2-text-box h1{
    font-family: Montserrat-800;
    color: var(--text-color);
    opacity: .9;
}




.s2-img-box{
    width: 100%;
    height: 60%;
    /* background-color: rgb(255, 234, 0); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    gap: 60px;
}
.img-div{
    width: 200px;
    height: 90px;
    /* background-color: rgb(230, 225, 225); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.img-div img{
    width: 100%;
}

/* ================================================================================================ */

#section3{
    height:fit-content;
    background-color:#4D4D4D;
}

.s3-top{
    width: 100%;
    height: 30vh;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
}
.s3-top h1{
    font-family: Montserrat-700;
    font-size: 2vw;
}
.s3-top p{
    font-family: Montserrat-500;
    font-size: 1.2vw;
    width: 60%;
    text-align: center;
    opacity: .8;
}

.s3-middle{
    width: 100%;
    height: 150vh;
    /* background-color: var(--text-color); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.s3-middle img{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    filter: brightness(80%);
}
.s3-middle-wrapper{
    width: 80%;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.s3-mid-top{
    width: 73%;
    height: 48%;
    /* background-color: tomato; */
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
}
.s3-m-t-left{
    width: 50%;
    height: 100%;
    /* background-color: var(--text-color); */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.s3-m-t-right{
    width: 50%;
    height: 100%;
    /* background-color: rgb(149, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}
.s3-m-t-r-top{
    width: fit-content;
    /* height: 50%; */
    /* background-color: var(--text-color); */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.s3-m-t-r-bottom{
    width: fit-content;
    /* height: 50%; */
    border-radius: 10px;
    /* background-color: var(--text-color); */
    overflow: hidden;
    position: relative;
}

.s3-mid-bottom{
    width: 73%;
    height: 48%;
    /* background-color: rgb(246, 255, 71); */
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.s3-m-b-left{
    width: 40%;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.s3-m-b-l-top{
    width: fit-content;
    height: 50%;
    /* background-color: var(--text-color); */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.s3-m-b-l-bottom{
    width: fit-content;
    height: 50%;
    /* background-color: var(--text-color); */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.s3-m-b-right{
    width: 60%;
    height: 100%;
    /* background-color: var(--text-color); */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.s3-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 99;
    display: flex;
    align-items: flex-end;
}
.s3-overlay-text{
    width: 100%;
    height: 15%;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 15px;
}
.s3-m-t-r-top .s3-overlay-text,
.s3-m-t-r-bottom .s3-overlay-text,
.s3-m-b-l-top .s3-overlay-text,
.s3-m-b-l-bottom .s3-overlay-text{
    padding-bottom: 30px;   
}
.s3-overlay-text .icon-box{
    width: 50px;
    height: 50px;
    /* background-color: var(--text-color); */
    border-radius: 50%;
}
.s3-overlay-text .icon-box img{
    width: 100%;
    height: 100%;
    scale: .9;
}
.s3-text-data small{
    font-family: Montserrat-700;
    color: var(--text-color);
}





.s3-bottom{
    width: 100%;
    height: 15vh;
    /* background-color: springgreen; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}
.s3-bottom button{
    padding: 10px 20px;
    font-family: Montserrat-700;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
}



/* ========================================================================================================= */

#section4{
    height: 60vh;
    background-color:#4D4D4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s4-data-box{
    width: 80%;
    height: 100%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.s4-data-box h1{
    font-family: Montserrat-800;
    font-size: 2vw;
    color: #3498DB;
}
.s4-data-box p{
    font-family: Montserrat-500;
    text-align: center;
    width: 85%;
    color: var(--text-color);
    opacity: .7;
}
.about-master{
    width: 100%;
    min-height: 210px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.master-text{
    width: 85%;
    height: 80%;
    background-color: rgb(102, 103, 104);
    border-radius: 15px;   
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 200px;
}
.master-text .master-photo{
    width: 200px;
    height: 200px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%,-50%);
}
.master-text .master-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.master-text h2{
    font-family: Montserrat-400;
    color: #64C1FF;
    font-size: 2vw;
    width: 100%;
}
.master-text small{
    width: 100%;
    font-size: 1vw;
    font-family: Montserrat-400;
    color: var(--text-color);
    opacity: .7;
}



/* =============================================================================================================== */


#section5{
    height: 70vh;
    background-color:#4D4D4D;
}

.s5-top{
    width: 100%;
    height: 20vh;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
}
.s5-top h1{
    font-family: Montserrat-700;
    opacity: .9;
}
.s5-top p{
    font-family: Montserrat-400;
    opacity: .8;
}

.s5-bottom{
    width: 100%;
    height: 50vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.s5-b-left{
    width: 45%;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 15px 40px 0;
}
.s5-pic{
    width: fit-content;
    height: 80%;
    background-color: var(--text-color);
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.s5-pic::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: transparent;
    border-radius: 10px;
    border: 5px solid #F1C40F;
    z-index: 1;
}
.s5-pic img{
    height: 100%;
    z-index: 2;
}


.s5-b-right{
    width: 45%;
    height: 100%;
    /* background-color: rgb(255, 166, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    color: var(--text-color);
}
.s5-b-right p{
    font-family: Montserrat-500;
}
.s5-b-right ul{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat-400;
    gap: 10px;
}



/* ========================================================================================================== */


footer{
    width: 100%;
    height: 50vh;
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0;
}
.footer-wrapper{
    width: 90%;
    height: 90%;
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-top{
    width: 100%;
    height: 85%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top .col{
    width: 25%;
    height: 100%;
    /* background-color: pink; */
}
#col1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#col1 .tag-line{
    font-family: Montserrat-500;
    color: var(--text-color);
}
#col1 .social-links-box{
    width: 200px;
    height: 50px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#col1 .social-links-box i{
    font-size: 1.8vw;
}
#col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
#col2 h3{
    color: var(--text-color);
    font-family: Montserrat-500;
}
#col2 .footer-links{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#col3{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
#col3 h3{
    color: var(--text-color);
    font-family: Montserrat-500;
}
#col3 .footer-links{
    padding:15px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#col3 .footer-links p{
    font-family: Montserrat-400;
    color: var(--text-color);
    opacity: .9;
    font-size: 1.1vw;
    cursor: text;
}



.footer-bottom{
    width: 100%;
    height: 15%;
    /* background-color: rgb(0, 255, 225); */
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top: 1px solid var(--text-color);
    padding: 10px 0;
}
.footer-bottom p{
    font-family: Montserrat-600;
    color: var(--text-color);
    opacity: .8;
}
.footer-policy{
    display: flex;
    gap: 50px;
}